@import 'vendors/reset.scss';

$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal;

$step: calc(360deg / length($types));

@mixin largeScreen {
    @media screen and (min-width: 87.5em) {
        grid-template-columns: repeat(18, 2fr);
        grid-template-rows: repeat(9, 2fr);
        aspect-ratio: auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
  }

  .element {
    background-color: lightgrey;
  }
  
  img {
    max-width: 100%;
  }

  main {
    @include largeScreen();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(96px, 100%/18)), 1fr));
    grid-template-rows: auto;
    width: auto;
    gap: .25rem;
    padding: 0 .25rem;
  }

  article {
    text-align: center;
    aspect-ratio: 1/1;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.25rem;
    transition: font-size ease 0.1s;

    * {
        font-size: 70%;
        transition: font-size ease 0.1s;
        font-weight: normal;
    }
  }

  article:hover {
    border: solid 2px rgba(0, 0, 0, 0.5);
    
    * {
        font-size: 80%;
        transition: font-size ease 0.1s;
        font-weight: bolder;
    }
  }

  p, abbr, h2 {
    font-weight: normal;
  }

  header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }




@each $type in $types {
    $index: index($types, $type);

    .element--#{$type} {
        background-color: hsl($index * $step 80% 80%);
    }
}

@for $i from 1 through 18 {
    .element[data-group="#{$i}"] {
        grid-column: #{$i};
    }
}


@for $i from 1 through 10 {
    .element[data-period="#{$i}"] {
        grid-row: #{$i};
    }
}

